openapi: 3.0.2
info:
  contact:
    email: devrel@box.com
    name: "Box, Inc"
    url: https://box.dev
  description: "[Box Platform](https://box.dev) provides functionality to provide\
    \ access to content stored within [Box](https://box.com). It provides endpoints\
    \ for basic manipulation of files and folders, management of users within an enterprise,\
    \ as well as more complex topics such as legal holds and retention policies."
  license:
    name: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9
  title: Box Platform API
  version: 2.0.0
  x-box-commit-hash: dffd835dc2
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
externalDocs:
  description: Box Developer Documentation
  url: https://developer.box.com
servers:
- description: Box Platform API server
  url: https://api.box.com/2.0
security:
- OAuth2Security: []
tags:
- description: |-
    A metadata template describes a reusable set
    of key/value pairs that can be assigned to a file.
  name: Metadata templates
  x-box-tag: metadata_templates
- description: |-
    The chunked upload endpoints support files from
    20MB in size and allow an application
    to upload the file in parts,
    allowing for more control to catch any errors
    and retry parts individually.
  name: Uploads (Chunked)
  x-box-tag: chunked_uploads
- description: |-
    Files, together with Folders,
    are at the core of the Box API.
    Files can be uploaded and downloaded,
    as well as hold important metadata
    information about the content.
  name: Files
  x-box-tag: files
- description: |-
    Folders, together with Files,
    are at the core of the Box API.
    Folders can be uploaded and downloaded,
    as well as hold important metadata
    information about the content.
  name: Folders
  x-box-tag: folders
- description: |-
    Group memberships signify that
    a user is a part of the group.
  name: Group memberships
  x-box-tag: memberships
- description: |-
    A Legal Hold Policy Assignment
    is a relation between a policy and custodian.
    In this case, as custodian can be a user, folder,
    file, or file version.
  name: Legal hold policy assignments
  x-box-tag: legal_hold_policy_assignments
- description: |-
    A Retention Policy Assignment is a relation
    between a policy and folder or enterprise.
    Creating an assignment puts a retention on
    all the file versions that belong to that folder or enterprise.
  name: Retention policy assignments
  x-box-tag: retention_policy_assignments
- description: |-
    Box API supports a variety of users,
    ranging from real employees
    logging in with their Managed User account,
    to applications using App Users to drive powerful
    automation workflows.
  name: Users
  x-box-tag: users
- description: |-
    Sign requests are used
    to submit a file for
    signature.
  name: Sign requests
  x-box-tag: sign_requests
- description: |-
    Comments are messages generated users on files,
    allowing users to collaborate on a file,
    discussing any feedback they might
    have on the content.
  name: Comments
  x-box-tag: comments
- description: |-
    A set of endpoints used to manage specific
    versions of a file.
  name: File versions
  x-box-tag: file_versions
- description: Groups created in an enterprise.
  name: Groups
  x-box-tag: groups
- description: |-
    A legal hold is a process that an enterprise
    can use to preserve all forms of potentially
    relevant information when litigation is pending or
    reasonably anticipated.
  name: Legal hold policies
  x-box-tag: legal_hold_policies
- description: |-
    A metadata cascade policy describes how metadata
    instances applied to a folder should be applied
    to any item within that folder.
  name: Metadata cascade policies
  x-box-tag: metadata_cascade_policies
- description: |-
    A metadata instance describes
    the relation between a template and a file,
    including the values that are assigned for every field.
  name: Metadata instances (Files)
  x-box-tag: file_metadata
- description: |-
    A metadata instance describes the relation between a template and a folder,
    including the values that are assigned for every field.
  name: Metadata instances (Folders)
  x-box-tag: folder_metadata
- description: |-
    A retention policy blocks permanent deletion of content
    for a specified amount of time. Admins can create
    retention policies and then assign them to
    specific folders or their entire enterprise.
  name: Retention policies
  x-box-tag: retention_policies
- description: |-
    Files shared links are URLs that are generated for files stored in Box,
    which provide direct, read-only access to the resource.
  name: Shared links (Files)
  x-box-tag: shared_links_files
- description: |-
    Folders shared links are URLs that are generated for folders stored in Box,
    which provide direct, read-only access to the resource.
  name: Shared links (Folders)
  x-box-tag: shared_links_folders
- description: |-
    Web links for files are URLs that are generated
    for web links in Box,
    which provide direct, read-only access to the resource.
  name: Shared links (Web Links)
  x-box-tag: shared_links_web_links
- description: |-
    Shield information barrier segment represents
    a defined group of users. A user can be a member
    of only one segment, which makes segments
    different from groups.
  name: Shield information barrier segments
  x-box-tag: shield_information_barrier_segments
- description: |-
    Box Skills are designed to allow custom processing
    of files uploaded to Box, with the
    intent of enhancing the underlying metadata of the file.
  name: Skills
  x-box-tag: skills
- description: |-
    Storage policy assignment represents the
    relation between storage zone and the
    assigned item (for example a file stored
    in a specific zone).
  name: Standard and Zones Storage Policy Assignments
  x-box-tag: storage_policy_assignments
- description: |-
    A task assignment defines which
    task is assigned to which user to complete.
  name: Task assignments
  x-box-tag: task_assignments
- description: |-
    Tasks allow users to request collaborators on a file
    to review a file or complete a piece of work.
    Tasks can be used by developers to create file-centric workflows.
  name: Tasks
  x-box-tag: tasks
- description: |-
    Webhooks allow you to monitor Box content for events,
    and receive notifications to a URL of your choice when they occur.
    For example, a workflow may include waiting
    for a file to be downloaded to delete a shared link.
  name: Webhooks
  x-box-tag: webhooks
- description: |-
    A set of endpoints used to
    manage user authorization process.
  name: Authorization
  x-box-tag: authorization
  x-box-priority: true
- description: |-
    Classification labels are
    used for content that is
    sensitive or under security
    restrictions.
  name: Classifications
  x-box-tag: classifications
- description: |-
    Classification labels are
    used for files that are
    sensitive or under security
    restrictions.
  name: Classifications on files
  x-box-tag: file_classifications
- description: |-
    Classification labels are
    used for folders that are
    sensitive or under security
    restrictions.
  name: Classifications on folders
  x-box-tag: folder_classifications
- description: |-
    Collaborations define access permissions
    for users and groups to files and folders,
    similar to access control lists.
  name: Collaborations
  x-box-tag: user_collaborations
- description: |-
    A set of endpoints used to
    retrieve file, folder,
    pending, and group collaborations.
  name: Collaborations (List)
  x-box-tag: list_collaborations
- description: |-
    A set of endpoints that allow exempting users
    from restrictions imposed by the list of
    allowed collaboration domains for a specific enterprise.
  name: Domain restrictions (User exemptions)
  x-box-tag: collaboration_allowlist_exempt_targets
- description: |-
    A set of endpoints that manage domains for which users
    can collaborate with files and folders in an enterprise.
  name: Domain restrictions for collaborations
  x-box-tag: collaboration_allowlist_entries
- description: |-
    File Requests provide a fast and
    secure way to request files and associated metadata
    from anyone.
    Users can create new file requests
    based on an existing file request,
    update file request settings, activate, deactivate, and delete
    file requests programmatically.
  name: File requests
  x-box-tag: file_requests
- description: |-
    Integration Mappings allow the users
    to manage where content from partner apps is stored in Box.
  name: Integration mappings
  x-box-tag: integration_mappings
- description: |-
    Shield information barrier in Box defines an ethical wall.
    An ethical wall is a mechanism that prevents exchanges or communication that
    could lead to conflicts of interest and therefore result in
    business activities ethically or legally questionable.
  name: Shield information barriers
  x-box-tag: shield_information_barriers
- description: |-
    Shield information barrier segment member
    represents a user that is assigned to a
    specific segment.
  name: Shield information barrier segment members
  x-box-tag: shield_information_barrier_segment_members
- description: |-
    Shield information barrier segment restriction is
    an access restriction based on the content (file or folder) owner.
  name: Shield information barrier segment restrictions
  x-box-tag: shield_information_barrier_segment_restrictions
- description: |-
    A set of endpoints used to
    manage terms of service agreements.
  name: Terms of service
  x-box-tag: terms_of_services
- description: |-
    Web links are objects that point to URLs.
    These objects are also known as bookmarks
    within the Box web application.
  name: Web links
  x-box-tag: web_links
- description: |-
    Device pinners allow enterprises to
    control what devices can use
    native Box applications.
  name: Device pinners
  x-box-tag: device_pinners
- description: |-
    Email aliases provide a list of emails additional
    to the user's primary login email.
  name: Email aliases
  x-box-tag: email_aliases
- description: |-
    Folder locks define access restrictions
    placed by folder owners to prevent
    specific folders from being moved or deleted.
  name: Folder Locks
  x-box-tag: folder_locks
- description: |-
    Shield information barrier reports
    contain information on what existing collaborations
    will be removed permanently when the information barrier is enabled.
  name: Shield information barrier reports
  x-box-tag: shield_information_barrier_reports
- description: |-
    A set of endpoints used to
    manage the status of terms of service
    for a particular user.
  name: Terms of service user statuses
  x-box-tag: terms_of_service_user_statuses
- description: |-
    Files that were deleted and
    are in trash.
  name: Trashed files
  x-box-tag: trashed_files
- description: |-
    Folders that were deleted and
    are in trash.
  name: Trashed folders
  x-box-tag: trashed_folders
- description: |-
    Web links that were deleted and
    are in trash.
  name: Trashed web links
  x-box-tag: trashed_web_links
- description: |-
    User avatars are JPG or PNG files
    uploaded to Box to represent the
    user image. They are then displayed
    in the user account.
  name: User avatars
  x-box-tag: avatars
- description: |-
    A watermark is a semi-transparent
    overlay on an embedded file
    preview that displays a viewer's email address
    or user ID and the time of access over
    the file.
  name: Watermarks (Files)
  x-box-tag: file_watermarks
- description: |-
    A watermark is a semi-transparent overlay on an embedded folder
    preview that displays a viewer's email address or user ID
    and the time of access over
    the folder content.
  name: Watermarks (Folders)
  x-box-tag: folder_watermarks
- description: |-
    Zip downloads represent a successful request
    to create a ZIP archive with files and folders.
  name: Zip Downloads
  x-box-tag: zip_downloads
- description: |-
    Collections are a way to group files,
    folders, and web links without putting them
    all into a folder.
  name: Collections
  x-box-tag: collections
- description: |-
    Events provide a way for an
    application to subscribe to
    any actions performed by
    any user, users, or service in an enterprise.
  name: Events
  x-box-tag: events
- description: |-
    A legal hold is a process that an enterprise
    can use to preserve all forms of potentially relevant
    information when
    litigation is pending or reasonably anticipated.
    A File Version Legal Hold represents all the policies that
    are assigned to a specific file version.
  name: File version legal holds
  x-box-tag: file_version_legal_holds
- description: |-
    A retention policy blocks permanent
    deletion of content for a specified amount of time.
    A file version retention is a record for a retained file.
  name: File version retentions
  x-box-tag: file_version_retentions
- description: |-
    Invites are used to invite the user to
    an enterprise.
  name: Invites
  x-box-tag: invites
- description: |-
    The Box API provides a way to find content in Box
    using full-text search queries.
  name: Search
  x-box-tag: search
- description: |-
    Session termination API is used to
    validate the roles and permissions of the group,
    and creates asynchronous jobs to terminate the group's sessions.
  name: Session termination
  x-box-tag: session_termination
- description: |-
    Sign templates allow you to use a predefined Box Sign
    template when creating a sign request.
    The template includes placeholders that
    are automatically populated with data when creating the request.
  name: Sign templates
  x-box-tag: sign_templates
- description: |-
    Storage policy assignment represents the
    storage zone for items in a given enterprise.
  name: Standard and Zones Storage Policies
  x-box-tag: storage_policies
- description: |-
    The direct file upload API supports files
    up to 50MB in size and sends all
    the binary data to the Box API in 1 API request.
  name: Uploads
  x-box-tag: uploads
- description: |-
    Box Relay Workflows are objects that represent
    a named collection of flows.
  name: Workflows
  x-box-tag: workflows
- description: |-
    Downloads allow saving files to the application's server,
    or directly by the end user in a browser.
  name: Downloads
  x-box-tag: downloads
- description: File activities
  name: File activities
  x-box-tag: file_activities
- description: |-
    Recent items represent items such
    as files or folders that
    the user accessed recently.
  name: Recent items
  x-box-tag: recent_items
- description: |-
    API designed to move all of the items
    (files, folders and workflows)
    owned by a user into another user's account.
  name: Transfer folders
  x-box-tag: transfer
- description: |-
    Items that were deleted and
    are in trash.
  name: Trashed items
  x-box-tag: trashed_items
paths:
  /authorize:
    get:
      description: |-
        Authorize a user by sending them through the [Box](https://box.com)
        website and request their permission to act on their behalf.

        This is the first step when authenticating a user using
        OAuth 2.0. To request a user's authorization to use the Box APIs
        on their behalf you will need to send a user to the URL with this
        format.
      operationId: get_authorize
      parameters:
      - description: The type of response we'd like to receive.
        example: code
        explode: true
        in: query
        name: response_type
        required: true
        schema:
          enum:
          - code
          format: token
          type: string
        style: form
        x-konfig-original-example: code
      - description: |-
          The Client ID of the application that is requesting to authenticate
          the user. To get the Client ID for your application, log in to your
          Box developer console and click the **Edit Application** link for
          the application you're working with. In the OAuth 2.0 Parameters section
          of the configuration page, find the item labelled `client_id`. The
          text of that item is your application's Client ID.
        example: ly1nj6n11vionaie65emwzk575hnnmrk
        explode: true
        in: query
        name: client_id
        required: true
        schema:
          type: string
        style: form
        x-konfig-original-example: ly1nj6n11vionaie65emwzk575hnnmrk
      - description: |-
          The URI to which Box redirects the browser after the user has granted
          or denied the application permission. This URI match one of the redirect
          URIs in the configuration of your application. It must be a
          valid HTTPS URI and it needs to be able to handle the redirection to
          complete the next step in the OAuth 2.0 flow.
          Although this parameter is optional, it must be a part of the
          authorization URL if you configured multiple redirect URIs
          for the application in the developer console. A missing parameter causes
          a `redirect_uri_missing` error after the user grants application access.
        example: http://example.com/auth/callback
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          format: url
          type: string
        style: form
        x-konfig-original-example: http://example.com/auth/callback
      - description: |-
          A custom string of your choice. Box will pass the same string to
          the redirect URL when authentication is complete. This parameter
          can be used to identify a user on redirect, as well as protect
          against hijacked sessions and other exploits.
        example: my_state
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: my_state
      - description: |-
          A space-separated list of application scopes you'd like to
          authenticate the user for. This defaults to all the scopes configured
          for the application in its configuration page.
        example: admin_readwrite
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: admin_readwrite
      responses:
        "200":
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/GetAuthorizeResponse'
          description: "Does not return any data, but rather should be used in the\
            \ browser."
        default:
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/GetAuthorizedefaultResponse'
          description: "Does not return any data, but rather should be used in the\
            \ browser."
      security: []
      servers:
      - description: Server for client-side authentication
        url: https://account.box.com/api/oauth2
      summary: Authorize user
      tags:
      - Authorization
      x-box-tag: authorization
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorize
      x-accepts: text/html
  /oauth2/token:
    post:
      description: |-
        Request an Access Token using either a client-side obtained OAuth 2.0
        authorization code or a server-side JWT assertion.

        An Access Token is a string that enables Box to verify that a
        request belongs to an authorized session. In the normal order of
        operations you will begin by requesting authentication from the
        [authorize](https://raw.githubusercontent.com) endpoint and Box will send you an
        authorization code.

        You will then send this code to this endpoint to exchange it for
        an Access Token. The returned Access Token can then be used to to make
        Box API calls.
      operationId: Authorization_requestAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2Token'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
          description: |-
            Returns a new Access Token that can be used to make authenticated
            API calls by passing along the token in a authorization header as
            follows `Authorization: Bearer <Token>`.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: An authentication error.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: An authentication error.
      security: []
      servers:
      - description: Server for server-side authentication
        url: https://api.box.com
      summary: Request access token
      tags:
      - Authorization
      x-box-tag: authorization
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--oauth2-token
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /oauth2/token#refresh:
    post:
      description: "Refresh an Access Token using its client ID, secret, and refresh\
        \ token."
      operationId: Authorization_refreshAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2Token--RefreshAccessToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
          description: |-
            Returns a new Access Token that can be used to make authenticated
            API calls by passing along the token in a authorization header as
            follows `Authorization: Bearer <Token>`.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: An authentication error.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: An authentication error.
      security: []
      servers:
      - description: Server for server-side authentication
        url: https://api.box.com
      summary: Refresh access token
      tags:
      - Authorization
      x-box-tag: authorization
      x-box-is-variation: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--oauth2-token#refresh
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /oauth2/revoke:
    post:
      description: |-
        Revoke an active Access Token, effectively logging a user out
        that has been previously authenticated.
      operationId: Authorization_revokeAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2Revoke'
      responses:
        "200":
          description: Returns an empty response when the token was successfully revoked.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: An authentication error.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: An authentication error.
      security: []
      servers:
      - description: Server for server-side authentication
        url: https://api.box.com
      summary: Revoke access token
      tags:
      - Authorization
      x-box-tag: authorization
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--oauth2-revoke
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /files/{file_id}:
    delete:
      description: |-
        Deletes a file, either permanently or by moving it to
        the trash.

        The the enterprise settings determine whether the item will
        be permanently deleted from Box or moved to the trash.
      operationId: Files_deleteFile
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: |-
          Ensures this item hasn't recently changed before
          making changes.

          Pass in the item's last observed `etag` value
          into this header and the endpoint will fail
          with a `412 Precondition Failed` if it
          has changed since.
        example: "1"
        explode: false
        in: header
        name: if-match
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "1"
      responses:
        "204":
          description: |-
            Returns an empty response when the file has been successfully
            deleted.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned when the access token provided in the `Authorization` header
            is not recognized or not provided.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned if the file is not found or has already been deleted, or the user
            does not have access to the file.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returned if the `file_id` is not in a recognized format.
          x-do-not-generate: true
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error when the `If-Match` header does not match
            the current `etag` value of the file. This indicates that the file
            has changed since it was last requested.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: Delete file
      tags:
      - Files
      x-box-tag: files
      x-box-sanitized: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--files-file_id
      x-accepts: application/json
    get:
      description: Retrieves the details about a file.
      operationId: Files_getDetails
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: |-
          A comma-separated list of attributes to include in the
          response. This can be used to request fields that are
          not normally returned in a standard response.

          Be aware that specifying this parameter will have the
          effect that none of the standard fields are returned in
          the response unless explicitly specified, instead only
          fields for the mini representation are returned, additional
          to the fields requested.

          Additionally this field can be used to query any metadata
          applied to the file by specifying the `metadata` field as well
          as the scope and key of the template to retrieve, for example
          `?field=metadata.enterprise_12345.contractTemplate`.
        example:
        - id
        - type
        - name
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - id
        - type
        - name
      - description: |-
          Ensures an item is only returned if it has changed.

          Pass in the item's last observed `etag` value
          into this header and the endpoint will fail
          with a `304 Not Modified` if the item has not
          changed since.
        example: "1"
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "1"
      - description: |-
          The URL, and optional password, for the shared link of this item.

          This header can be used to access items that have not been
          explicitly shared with a user.

          Use the format `shared_link=[link]` or if a password is required then
          use `shared_link=[link]&shared_link_password=[password]`.

          This header can be used on the file or folder shared, as well as on any files
          or folders nested within the item.
        example: "shared_link=[link]&shared_link_password=[password]"
        explode: false
        in: header
        name: boxapi
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "shared_link=[link]&shared_link_password=[password]"
      - description: |-
          A header required to request specific `representations`
          of a file. Use this in combination with the `fields` query
          parameter to request a specific file representation.

          The general format for these representations is
          `X-Rep-Hints: [...]` where `[...]` is one or many
          hints in the format `[fileType?query]`.

          For example, to request a `png` representation in `32x32`
          as well as `64x64` pixel dimensions provide the following
          hints.

          `x-rep-hints: [jpg?dimensions=32x32][jpg?dimensions=64x64]`

          Additionally, a `text` representation is available for all
          document file types in Box using the `[extracted_text]`
          representation.

          `x-rep-hints: [extracted_text]`
        example: "[pdf]"
        explode: false
        in: header
        name: x-rep-hints
        required: false
        schema:
          nullable: true
          type: string
        style: simple
        x-konfig-original-example: "[pdf]"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File--Full'
          description: |-
            Returns a file object.

            Not all available fields are returned by default. Use the
            [fields](https://raw.githubusercontent.com) query parameter to explicitly request
            any specific fields.
        "304":
          description: |-
            Returns an empty response when the `If-None-Match` header matches
            the current `etag` value of the folder. This indicates that the folder
            has not changed since it was last requested.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned when the access token provided in the `Authorization` header
            is not recognized or not provided.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned if the file is not found, or the user does not
            have access to the file.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returned if the `file_id` is not in a recognized format.
          x-do-not-generate: true
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if an action is performed on a file with an
            incorrect media type.

            * `unsupported_media_type` when requesting an `expiring_embed_link`
              for a file that is not supported by Box Embed.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: Get file information
      tags:
      - Files
      x-box-tag: files
      x-box-enable-explorer: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--files-file_id
      x-accepts: application/json
    post:
      description: |-
        Restores a file that has been moved to the trash.

        An optional new parent ID can be provided to restore the file to in case the
        original folder has been deleted.
      operationId: TrashedFiles_restoreFile
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: |-
          A comma-separated list of attributes to include in the
          response. This can be used to request fields that are
          not normally returned in a standard response.

          Be aware that specifying this parameter will have the
          effect that none of the standard fields are returned in
          the response unless explicitly specified, instead only
          fields for the mini representation are returned, additional
          to the fields requested.
        example:
        - id
        - type
        - name
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - id
        - type
        - name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrashedFilesRestoreFileRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrashFileRestored'
          description: Returns a file object when the file has been restored.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the user does not have access to the folder
            the file is being restored to, or the user does not have permission
            to restore files from the trash.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returns an error if the file is not in the trash.
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if there is an file with the same name
            in the folder the file is being restored to.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: Restore file
      tags:
      - Trashed files
      x-box-tag: trashed_files
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--files-file_id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: |-
        Updates a file. This can be used to rename or move a file,
        create a shared link, or lock a file.
      operationId: Files_updateFile
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: |-
          A comma-separated list of attributes to include in the
          response. This can be used to request fields that are
          not normally returned in a standard response.

          Be aware that specifying this parameter will have the
          effect that none of the standard fields are returned in
          the response unless explicitly specified, instead only
          fields for the mini representation are returned, additional
          to the fields requested.
        example:
        - id
        - type
        - name
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - id
        - type
        - name
      - description: |-
          Ensures this item hasn't recently changed before
          making changes.

          Pass in the item's last observed `etag` value
          into this header and the endpoint will fail
          with a `412 Precondition Failed` if it
          has changed since.
        example: "1"
        explode: false
        in: header
        name: if-match
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "1"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilesUpdateFileRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File--Full'
          description: |-
            Returns a file object.

            Not all available fields are returned by default. Use the
            [fields](https://raw.githubusercontent.com) query parameter to explicitly request
            any specific fields.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returned when the new retention time > maximum retention length.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned when the access token provided in the `Authorization` header
            is not recognized or not provided.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned if the user does not have all the permissions to complete the
            update.

            * `access_denied_insufficient_permissions` returned
            when the authenticated user does not have access
            to the destination folder to move the file to.
            * Returned when retention time is shorter or equal to current retention
            timestamp.
            * Returned when a `file_id` that is not under retention is entered.
            * Returned when a file that is retained but the disposition action is set
            to `remove_retention`
            * `forbidden_by_policy` is returned if copying a folder is
            forbidden due to information barrier restrictions.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned if the file is not found, or the user does not
            have access to the file.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returned if the `file_id` is not in a recognized format.
          x-do-not-generate: true
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error when the `If-Match` header does not match
            the current `etag` value of the file. This indicates that the file
            has changed since it was last requested.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: Update file
      tags:
      - Files
      x-box-tag: files
      x-box-enable-explorer: true
      x-box-sanitized: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--files-file_id
      x-content-type: application/json
      x-accepts: application/json
  /files/{file_id}/content:
    get:
      description: Returns the contents of a file in binary format.
      operationId: Downloads_fileContentGet
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: |-
          The byte range of the content to download.

          The format `bytes={start_byte}-{end_byte}` can be used to specify
          what section of the file to download.
        example: bytes=0-1024
        explode: false
        in: header
        name: range
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: bytes=0-1024
      - description: |-
          The URL, and optional password, for the shared link of this item.

          This header can be used to access items that have not been
          explicitly shared with a user.

          Use the format `shared_link=[link]` or if a password is required then
          use `shared_link=[link]&shared_link_password=[password]`.

          This header can be used on the file or folder shared, as well as on any files
          or folders nested within the item.
        example: "shared_link=[link]&shared_link_password=[password]"
        explode: false
        in: header
        name: boxapi
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "shared_link=[link]&shared_link_password=[password]"
      - description: The file version to download
        example: "4"
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: "4"
      - description: |-
          An optional access token that can be used to pre-authenticate this request, which means that a download link can be shared with a browser or a third party service without them needing to know how to handle the authentication.
          When using this parameter, please make sure that the access token is sufficiently scoped down to only allow read access to that file and no other files or folders.
        example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/DownloadsFileContentGetResponse'
          description: |-
            Returns the requested file if the client has the **follow
            redirects** setting enabled to automatically
            follow HTTP `3xx` responses as redirects. If not, the request
            will return `302` instead.
            For details, see
            the [download file guide](g://downloads/file#download-url).
        "202":
          description: |-
            If the file is not ready to be downloaded yet `Retry-After` header will
            be returned indicating the time in seconds after which the file will
            be available for the client to download.

            This response can occur when the file was uploaded immediately before the
            download request.
          headers:
            Retry-After:
              description: The time in seconds after which to retry the download
              explode: false
              schema:
                type: integer
              style: simple
        "302":
          description: |-
            If the file is available for download the response will include a
            `Location` header for the file on `dl.boxcloud.com`.

            The `dl.boxcloud.com` URL is not persistent and clients will need
            to follow the redirect to actually download the file.
          headers:
            Location:
              description: A pointer to the download URL
              explode: false
              schema:
                format: url
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: Download file
      tags:
      - Downloads
      x-box-tag: downloads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--files-file_id-content
      x-accepts: application/json
    post:
      description: |-
        Update a file's content. For file sizes over 50MB we recommend
        using the Chunk Upload APIs.

        # Request body order

        The `attributes` part of the body must come **before** the
        `file` part. Requests that do not follow this format when
        uploading the file will receive a HTTP `400` error with a
        `metadata_after_file_contents` error code.
      operationId: Uploads_fileContentUpdate
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: |-
          Ensures this item hasn't recently changed before
          making changes.

          Pass in the item's last observed `etag` value
          into this header and the endpoint will fail
          with a `412 Precondition Failed` if it
          has changed since.
        example: "1"
        explode: false
        in: header
        name: if-match
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "1"
      - description: |-
          A comma-separated list of attributes to include in the
          response. This can be used to request fields that are
          not normally returned in a standard response.

          Be aware that specifying this parameter will have the
          effect that none of the standard fields are returned in
          the response unless explicitly specified, instead only
          fields for the mini representation are returned, additional
          to the fields requested.
        example:
        - id
        - type
        - name
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - id
        - type
        - name
      - description: |-
          An optional header containing the SHA1 hash of the file to
          ensure that the file was not corrupted in transit.
        example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
        explode: false
        in: header
        name: content-md5
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadsFileContentUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
          description: Returns the new file object in a list.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error when the `If-Match` header does not match
            the current `etag` value of the file. This indicates that the file
            has changed since it was last requested.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      servers:
      - description: Server for file uploads
        url: https://upload.box.com/api/2.0
      summary: Upload file version
      tags:
      - Uploads
      x-box-tag: uploads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--files-file_id-content
      x-content-type: multipart/form-data
      x-accepts: application/json
  /files/content:
    options:
      description: |-
        Performs a check to verify that a file will be accepted by Box
        before you upload the entire file.
      operationId: Files_preflightCheckBeforeUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilesPreflightCheckBeforeUploadRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUrl'
          description: |-
            If the check passed, the response will include a session URL that
            can be used to upload the file to.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
          description: |-
            If the check did not pass, the response will include some details on
            why it did not pass.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: Preflight check before upload
      tags:
      - Files
      x-box-tag: uploads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-options--files-content
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: |-
        Uploads a small file to Box. For file sizes over 50MB we recommend
        using the Chunk Upload APIs.

        # Request body order

        The `attributes` part of the body must come **before** the
        `file` part. Requests that do not follow this format when
        uploading the file will receive a HTTP `400` error with a
        `metadata_after_file_contents` error code.
      operationId: Uploads_smallFile
      parameters:
      - description: |-
          A comma-separated list of attributes to include in the
          response. This can be used to request fields that are
          not normally returned in a standard response.

          Be aware that specifying this parameter will have the
          effect that none of the standard fields are returned in
          the response unless explicitly specified, instead only
          fields for the mini representation are returned, additional
          to the fields requested.
        example:
        - id
        - type
        - name
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - id
        - type
        - name
      - description: |-
          An optional header containing the SHA1 hash of the file to
          ensure that the file was not corrupted in transit.
        example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
        explode: false
        in: header
        name: content-md5
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadsSmallFileRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
          description: Returns the new file object in a list.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if some of the parameters are missing or
            not valid.
            * `bad_request` when a parameter is missing or incorrect.
            * `item_name_too_long` when the folder name is too long.
            * `item_name_invalid` when the folder name contains
              non-valid characters.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the parent folder
            does not exist or if the user
            is not authorized to access the parent folder.
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the file already exists,
            or the account has run out of disk space.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      servers:
      - description: Server for file uploads
        url: https://upload.box.com/api/2.0
      summary: Upload file
      tags:
      - Uploads
      x-box-tag: uploads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--files-content
      x-content-type: multipart/form-data
      x-accepts: application/json
  /files/upload_sessions:
    post:
      description: Creates an upload session for a new file.
      operationId: UploadsChunked_createSessionForUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadsChunkedCreateSessionForUploadRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
          description: Returns a new upload session.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if some of the parameters are missing or
            not valid.

            * `missing_destination`: No `folder_id` was provided
            * `invalid_folder_id`: `folder_id` is not valid
            * `item_name_invalid`: `file_name` is not valid
            * `missing_file_size`: `file_size` was not provided
            * `invalid_file_size`: `file_size` was not a valid number
            * `file_size_too_small`: `file_size` is below minimum file size for
              uploads via this API
            * `missing_file_name`: `file_name` was not provided
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the operation is not allowed for some reason.

            * `storage_limit_exceeded`: Account storage limit reached
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the parent folder could not be found, or
            the authenticated user does not have access to it.

            * `invalid_parameter`: The `folder_id` value represents a
              folder that the user does not have access to, or does not
              exist.
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the file already exists,
            or the account has run out of disk space.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      servers:
      - description: Server for file uploads
        url: https://upload.box.com/api/2.0
      summary: Create upload session
      tags:
      - Uploads (Chunked)
      x-box-tag: chunked_uploads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--files-upload_sessions
      x-content-type: application/json
      x-accepts: application/json
  /files/{file_id}/upload_sessions:
    post:
      description: Creates an upload session for an existing file.
      operationId: UploadsChunked_createSessionForUpload
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadsChunkedCreateSessionForUploadRequest1'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
          description: Returns a new upload session.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the file already exists,
            or if the account has run out of disk space.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      servers:
      - description: Server for file uploads
        url: https://upload.box.com/api/2.0
      summary: Create upload session for existing file
      tags:
      - Uploads (Chunked)
      x-box-tag: chunked_uploads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--files-file_id-upload_sessions
      x-content-type: application/json
      x-accepts: application/json
  /files/upload_sessions/{upload_session_id}:
    delete:
      description: |-
        Abort an upload session and discard all data uploaded.

        This cannot be reversed.
      operationId: UploadsChunked_removeUploadSession
      parameters:
      - description: The ID of the upload session.
        example: D5E3F7A
        explode: false
        in: path
        name: upload_session_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: D5E3F7A
      responses:
        "204":
          description: |-
            A blank response is returned if the session was
            successfully aborted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      servers:
      - description: Server for file uploads
        url: https://upload.box.com/api/2.0
      summary: Remove upload session
      tags:
      - Uploads (Chunked)
      x-box-tag: chunked_uploads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--files-upload_sessions-upload_session_id
      x-accepts: application/json
    get:
      description: Return information about an upload session.
      operationId: UploadsChunked_info
      parameters:
      - description: The ID of the upload session.
        example: D5E3F7A
        explode: false
        in: path
        name: upload_session_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: D5E3F7A
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
          description: Returns an upload session object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      servers:
      - description: Server for file uploads
        url: https://upload.box.com/api/2.0
      summary: Get upload session
      tags:
      - Uploads (Chunked)
      x-box-tag: chunked_uploads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--files-upload_sessions-upload_session_id
      x-accepts: application/json
    put:
      description: Updates a chunk of an upload session for a file.
      operationId: UploadsChunked_filePartUpdate
      parameters:
      - description: The ID of the upload session.
        example: D5E3F7A
        explode: false
        in: path
        name: upload_session_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: D5E3F7A
      - description: |-
          The [RFC3230][1] message digest of the chunk uploaded.

          Only SHA1 is supported. The SHA1 digest must be base64
          encoded. The format of this header is as
          `sha=BASE64_ENCODED_DIGEST`.

          To get the value for the `SHA` digest, use the
          openSSL command to encode the file part:
          `openssl sha1 -binary <FILE_PART_NAME> | base64`

          [1]: https://tools.ietf.org/html/rfc3230
        example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
        explode: false
        in: header
        name: digest
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
      - description: |-
          The byte range of the chunk.

          Must not overlap with the range of a part already
          uploaded this session. Each part’s size must be
          exactly equal in size to the part size specified
          in the upload session that you created.
          One exception is the last part of the file, as this can be smaller.

          When providing the value for `content-range`, remember that:

          * The lower bound of each part's byte range
            must be a multiple of the part size.
          * The higher bound must be a multiple of the part size - 1.
        example: bytes 8388608-16777215/445856194
        explode: false
        in: header
        name: content-range
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: bytes 8388608-16777215/445856194
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UploadsChunkedFilePartUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedPart'
          description: Chunk has been uploaded successfully.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the chunk conflicts with another
            chunk previously uploaded.
          x-do-not-generate: true
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returns an error if a precondition was not met.
          x-do-not-generate: true
        "416":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the content range does not match a specified range
            for the session.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      servers:
      - description: Server for file uploads
        url: https://upload.box.com/api/2.0
      summary: Upload part of file
      tags:
      - Uploads (Chunked)
      x-box-tag: chunked_uploads
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/octet-stream
      x-accepts: application/json
  /files/upload_sessions/{upload_session_id}/parts:
    get:
      description: |-
        Return a list of the chunks uploaded to the upload
        session so far.
      operationId: UploadsChunked_listParts
      parameters:
      - description: The ID of the upload session.
        example: D5E3F7A
        explode: false
        in: path
        name: upload_session_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: D5E3F7A
      - description: |-
          The offset of the item at which to begin the response.

          Queries with offset parameter value
          exceeding 10000 will be rejected
          with a 400 response.
        example: 1000
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int64
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--files-upload_sessions-upload_session_id-parts-get-parameters-1-schema
        style: form
        x-konfig-original-example: 1000
      - description: The maximum number of items to return per page.
        example: 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 1000
          type: integer
        style: form
        x-konfig-original-example: 1000
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadParts'
          description: Returns a list of parts that have been uploaded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      servers:
      - description: Server for file uploads
        url: https://upload.box.com/api/2.0
      summary: List parts
      tags:
      - Uploads (Chunked)
      x-box-tag: chunked_uploads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--files-upload_sessions-upload_session_id-parts
      x-accepts: application/json
  /files/upload_sessions/{upload_session_id}/commit:
    post:
      description: |-
        Close an upload session and create a file from the
        uploaded chunks.
      operationId: UploadsChunked_commitSession
      parameters:
      - description: The ID of the upload session.
        example: D5E3F7A
        explode: false
        in: path
        name: upload_session_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: D5E3F7A
      - description: |-
          The [RFC3230][1] message digest of the whole file.

          Only SHA1 is supported. The SHA1 digest must be Base64
          encoded. The format of this header is as
          `sha=BASE64_ENCODED_DIGEST`.

          [1]: https://tools.ietf.org/html/rfc3230
        example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
        explode: false
        in: header
        name: digest
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
      - description: |-
          Ensures this item hasn't recently changed before
          making changes.

          Pass in the item's last observed `etag` value
          into this header and the endpoint will fail
          with a `412 Precondition Failed` if it
          has changed since.
        example: "1"
        explode: false
        in: header
        name: if-match
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "1"
      - description: |-
          Ensures an item is only returned if it has changed.

          Pass in the item's last observed `etag` value
          into this header and the endpoint will fail
          with a `304 Not Modified` if the item has not
          changed since.
        example: "1"
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
        x-konfig-original-example: "1"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadsChunkedCommitSessionRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
          description: Returns the file object in a list.
        "202":
          description: |-
            Returns when all chunks have been uploaded but not yet processed.

            Inspect the upload session to get more information about the
            progress of processing the chunks, then retry committing the file
            when all chunks have processed.
          headers:
            Retry-After:
              description: |-
                Indicates the number of seconds the client should wait before
                attempting their commit request again.
              explode: false
              schema:
                type: integer
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if there is already a file with the same name
            in the target folder.
          x-do-not-generate: true
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returns an error if the `If-Match` or `If-None-Match` conditions
            fail.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      servers:
      - description: Server for file uploads
        url: https://upload.box.com/api/2.0
      summary: Commit upload session
      tags:
      - Uploads (Chunked)
      x-box-tag: chunked_uploads
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--files-upload_sessions-upload_session_id-commit
      x-content-type: application/json
      x-accepts: application/json
  /files/{file_id}/copy:
    post:
      description: Creates a copy of a file.
      operationId: Files_createCopy
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: |-
          A comma-separated list of attributes to include in the
          response. This can be used to request fields that are
          not normally returned in a standard response.

          Be aware that specifying this parameter will have the
          effect that none of the standard fields are returned in
          the response unless explicitly specified, instead only
          fields for the mini representation are returned, additional
          to the fields requested.
        example:
        - id
        - type
        - name
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - id
        - type
        - name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilesCreateCopyRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File--Full'
          description: |-
            Returns a new file object representing the copied file.

            Not all available fields are returned by default. Use the
            [fields](https://raw.githubusercontent.com) query parameter to explicitly request
            any specific fields.
        "304":
          description: |-
            Returns an empty response when the `If-None-Match` header matches
            the current `etag` value of the file. This indicates that the file
            has not changed since it was last requested.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if some of the parameters are missing or
            not valid.

            * `bad_request` when a parameter is missing.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error when the user does not have the
            right permissions to create the copy a file.

            * `forbidden_by_policy`: Returned if copying a file is
            forbidden due to information barrier restrictions.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if either the source file or the destination
            folder could not be found, or the authenticated user does not
            have access to either.

            * `not_found` when the authenticated user does not have access
              to the source file or the destination folder
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            * `operation_blocked_temporary`: Returned if either of the destination
              or source folders is locked due to another move, copy, delete or
              restore operation in process.

              The operation can be retried at a later point.

            * `item_name_in_use` when a folder with the same name already
              exists.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: Copy file
      tags:
      - Files
      x-box-tag: files
      x-box-enable-explorer: true
      x-box-sanitized: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--files-file_id-copy
      x-content-type: application/json
      x-accepts: application/json
  /files/{file_id}/thumbnail.{extension}:
    get:
      description: |-
        Retrieves a thumbnail, or smaller image representation, of a file.

        Sizes of `32x32`,`64x64`, `128x128`, and `256x256` can be returned in
        the `.png` format and sizes of `32x32`, `160x160`, and `320x320`
        can be returned in the `.jpg` format.

        Thumbnails can be generated for the image and video file formats listed
        [found on our community site][1].

        [1]: https://community.box.com/t5/Migrating-and-Previewing-Content/File-Types-and-Fonts-Supported-in-Box-Content-Preview/ta-p/327
      operationId: Files_getThumbnail
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: The file format for the thumbnail
        example: png
        explode: false
        in: path
        name: extension
        required: true
        schema:
          enum:
          - png
          - jpg
          type: string
        style: simple
        x-konfig-original-example: png
      - description: The minimum height of the thumbnail
        example: 32
        explode: true
        in: query
        name: min_height
        required: false
        schema:
          maximum: 320
          minimum: 32
          type: integer
        style: form
        x-konfig-original-example: 32
      - description: The minimum width of the thumbnail
        example: 32
        explode: true
        in: query
        name: min_width
        required: false
        schema:
          maximum: 320
          minimum: 32
          type: integer
        style: form
        x-konfig-original-example: 32
      - description: The maximum height of the thumbnail
        example: 320
        explode: true
        in: query
        name: max_height
        required: false
        schema:
          maximum: 320
          minimum: 32
          type: integer
        style: form
        x-konfig-original-example: 320
      - description: The maximum width of the thumbnail
        example: 320
        explode: true
        in: query
        name: max_width
        required: false
        schema:
          maximum: 320
          minimum: 32
          type: integer
        style: form
        x-konfig-original-example: 320
      responses:
        "200":
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/FilesGetThumbnailResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/FilesGetThumbnail200Response'
          description: |-
            When a thumbnail can be created the thumbnail data will be
            returned in the body of the response.
        "202":
          description: |-
            Sometimes generating a thumbnail can take a few seconds. In these
            situations the API returns a `Location`-header pointing to a
            placeholder graphic for this file type.

            The placeholder graphic can be used in a user interface until the
            thumbnail generation has completed. The `Retry-After`-header indicates
            when to the thumbnail will be ready. At that time, retry this endpoint
            to retrieve the thumbnail.
          headers:
            Retry-After:
              description: |-
                The time in seconds after which the thumbnail will be available.

                Your application  only attempt to get the thumbnail again after
                this time.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            Location:
              description: |-
                A pointer to a placeholder graphic that can be used until the
                thumbnail has been generated.
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "302":
          description: |-
            Returns an error when Box is not able to create a thumbnail for this
            file type.

            Instead, a `Location`-header pointing to a placeholder graphic for
            this file type will be returned.
          headers:
            Location:
              description: |-
                A pointer to a placeholder graphic that can be used for this
                file type.
              explode: false
              schema:
                format: url
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if some of the parameters are missing or
            not valid.

            * `requested_preview_unavailable` - an incorrect dimension was
              requested. This will happen if the dimension requested is
              larger or smaller than the available file sizes for the thumbnail
              format, or when when any of the size constraints contradict
              each other.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned when the access token provided in the `Authorization` header
            is not recognized or not provided.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned if the file is not found, or the user does not
            have access to the file, or for additional reasons.

            * `preview_cannot_be_generated` - Box does not support thumbnails
              for this type of file
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: Get file thumbnail
      tags:
      - Files
      x-box-tag: files
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--files-file_id-thumbnail.extension
      x-accepts: application/json
  /files/{file_id}/collaborations:
    get:
      description: |-
        Retrieves a list of pending and active collaborations for a
        file. This returns all the users that have access to the file
        or have been invited to the file.
      operationId: CollaborationsList_fileAccessList
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: |-
          A comma-separated list of attributes to include in the
          response. This can be used to request fields that are
          not normally returned in a standard response.

          Be aware that specifying this parameter will have the
          effect that none of the standard fields are returned in
          the response unless explicitly specified, instead only
          fields for the mini representation are returned, additional
          to the fields requested.
        example:
        - id
        - type
        - name
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - id
        - type
        - name
      - description: The maximum number of items to return per page.
        example: 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 1000
          type: integer
        style: form
        x-konfig-original-example: 1000
      - description: |-
          Defines the position marker at which to begin returning results. This is
          used when paginating using marker-based pagination.

          This requires `usemarker` to be set to `true`.
        example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
        explode: true
        in: query
        name: marker
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaborations'
          description: |-
            Returns a collection of collaboration objects. If there are no
            collaborations on this file an empty collection will be returned.

            This list includes pending collaborations, for which the `status`
            is set to `pending`, indicating invitations that have been sent but not
            yet accepted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: List file collaborations
      tags:
      - Collaborations (List)
      x-box-tag: list_collaborations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--files-file_id-collaborations
      x-accepts: application/json
  /files/{file_id}/comments:
    get:
      description: Retrieves a list of comments for a file.
      operationId: Comments_listFileComments
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      - description: |-
          A comma-separated list of attributes to include in the
          response. This can be used to request fields that are
          not normally returned in a standard response.

          Be aware that specifying this parameter will have the
          effect that none of the standard fields are returned in
          the response unless explicitly specified, instead only
          fields for the mini representation are returned, additional
          to the fields requested.
        example:
        - id
        - type
        - name
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - id
        - type
        - name
      - description: The maximum number of items to return per page.
        example: 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          maximum: 1000
          type: integer
        style: form
        x-konfig-original-example: 1000
      - description: |-
          The offset of the item at which to begin the response.

          Queries with offset parameter value
          exceeding 10000 will be rejected
          with a 400 response.
        example: 1000
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int64
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--files-file_id-comments-get-parameters-3-schema
        style: form
        x-konfig-original-example: 1000
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comments'
          description: |-
            Returns a collection of comment objects. If there are no
            comments on this file an empty collection will be returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: List file comments
      tags:
      - Comments
      x-box-tag: comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--files-file_id-comments
      x-accepts: application/json
  /files/{file_id}/tasks:
    get:
      description: |-
        Retrieves a list of all the tasks for a file. This
        endpoint does not support pagination.
      operationId: Tasks_listOnFile
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks'
          description: |-
            Returns a list of tasks on a file.

            If there are no tasks on this file an empty collection is returned
            instead.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error when the file could not be found or the user does not
            have access to the file.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returns an error when the `file_id` was not provided.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error when an attempt was made to retrieve tasks for the file
            with ID `0`.
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: An unexpected client error.
      summary: List tasks on file
      tags:
      - Tasks
      x-box-tag: tasks
      x-box-sanitized: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--files-file_id-tasks
      x-accepts: application/json
  /files/{file_id}/trash:
    delete:
      description: |-
        Permanently deletes a file that is in the trash.
        This action cannot be undone.
      operationId: TrashedFiles_permanentlyRemoveFile
      parameters:
      - description: |-
          The unique identifier that represents a file.

          The ID for any file can be determined
          by visiting a file in the web application
          and copying the ID from the URL. For example,
          for the URL `https://*.app.box.com/files/123`
          the `file_id` is `123`.
        example: "12345"
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: "12345"
      responses:
        "204":
          description: |-
            Returns an empty response when the file was
            permanently deleted.
        "404":
          content:
            application/json:
[...]
